body{
    background: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;  
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.amount-details{
    display: flex;
    margin-top: 4px;
}
.cancel-data{
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-style: groove;
    background-color: white;
    color: black;
}
.cancel-data:hover{
    background-color: black;
    color: white;
}
.expense-form{
    margin-left: 15%;
}
.mandatory-field::after{
    content: "*";
    color: red;
}
.currency-type{
    border-style: dotted;
    border-color: grey;
    width: 81%;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.expense-header{
    border-bottom: 2px solid;
    margin-bottom: 20px;
}
.expense-details{
    border-style: hidden;
    border-radius: 30px;
    position: absolute;
    top: 10%;
    left: 34%;
    width: 30%;
    margin: auto;
    padding: 25px;
    background-color: white;
    box-shadow: 10px 10px 5px  lightblue;
}
.expense-notes{
    border-style: dotted;
    border-color: grey;
    width: 80%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.form-button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
label{
    display: block;
    font-size: 20px;
}
.name-error{
    display: none;
}
.notes-error{
    display: none;
}
.paid-date{
    margin-top: 38px;
}
.payment-method{
    border-style: dotted;
    border-color: grey;
    width: 81%;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.payment-date{
    border-style: dotted;
    border-color: grey;
    width: 81%;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.paymenttype-method{
    display: flex;
}
.payout-checkbox{
    width: 25px;
    height: 25px;
}
.required-field{
    color: red;
    position: absolute;
    top: 90px;
}

.save-data{
    cursor:pointer;
    width: 100px;
    height: 30px;
    border-style: groove;
    background-color: white;
    color: black;
}
.save-data:hover{
    background-color: black;
    color: white;
}
.select-paymenttype{
    border-style: dotted;
    border-color: grey;
    width: 81%;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 5px;

}
.select-expensetype{
    border-style: dotted;
    border-color: grey;
    width: 81%;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.select-name{
    border-style: dotted;
    border-color: grey;
    width: 80%;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.total-amount{
    border-style: dotted;
    border-color: grey;
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
}
@media only screen and ( max-width: 1025px){
    .expense-details{
        width: 90%;
        left: 0;
    }
    
}
@media only screen and (max-width: 342px){
    .required-field{
        top : 16%;
    }
}