body {
    background-color: #86c1cc;
    margin: 0%;
}

.booking {
    margin-left: 15%;
    margin-top: 15px;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

.bus {
    display: inline-grid;
    width: 150px;
    margin-bottom: 20px;
    margin-left: 10%;
}

.container-from {
    display: flex;
}

.details {
    background-color: white;
    width: 930px;
    height: 440px;
    box-shadow: 0 8px 20px 0 rgba(22, 22, 22, 0.15);
    margin: auto;
    margin-top: 100px;
    position: relative;
    font-family: raleway, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 30px 47px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-radius: 8px;
}

.detailslogin {
    cursor: pointer;
    font-size: x-large;
}

.donate {
    width: 20%;
}

.donation-box {
    display: block;
}

.donatebox {
    display: block;
    margin-top: 10px;
}
.form-right{
    position: absolute;
    width: 536px; ;
    height: 500px;
    right: 10px;
    top: 0%;
    bottom: 0%;
}
.form-image{
    height: 500px;
    width: 546px;
    border-radius: 5px;
}

.help {
    display: inline-block;
    position: absolute;
    margin-top: -8px;
    right: 2px;
    text-align: right;
    margin-right: 70px;
}

.journey-date {
    display: flex;
}

.journey-startdate {
    width: 146px;
    height: 19px;
    margin-top: -12px;
}

.passanger-container {
    display: flex;
}

.passenger-count {
    width: 137px;
    height: 16px;
}

.from {
    display: inline-grid;
    width: 150px;
    margin-bottom: 20px;
}

.form-help {
    font-size: larger;
    color: white;
    position: static;
}

.explore {
    margin: 0%;
    padding-left: 25px;
}

.headcontainer {
    background-color: rgb(39, 37, 37);
    color: white;
    margin-top: 0px;
}

.list {
    margin-left: 25px;
}

.login {
    display: inline-block;
    position: absolute;
    right: 35px;
    color: rgb(0, 0, 0);
    text-align: right;
    margin-top: -14px;
    margin-right: 100px;
}

.menubar {
    display: inline-block;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 125px;
    font-family: cursive;
}

.passanger {
    display: inline-grid;
    width: 150px;
    margin-bottom: 36px;
}

.radio {
    display: contents;
}

h1 {
    text-align: left;
}

label {
    display: flex;
    padding-bottom: 10px;
}

.location-error {
    display: none;
}

.search-container {
    display: flex;
}

.search {
    margin-left: 5%;
}

select {
    width: 148px;
    height: 26px;
}

.start {
    display: inline-grid;
    width: 150px;
    margin-bottom: 20px;
}

.to {
    display: inline-grid;
    width: 150px;
    margin-bottom: 20px;
    margin-left: 10%;
}

.return {
    display: inline-grid;
    width: 150px;
    margin-bottom: 20px;
    margin-left: 10%;
}

@media only screen and (max-width: 768px) {
.details{
    width: 415px;
    height: 880px;
}
.form-right{
    top: 50%;
    width:500px;
}
.form-image{
    height: 467px;
    width: 478px;
}
}