body {
    background-color: #86c1cc;
    margin: 0%;
}
.anchor{
    height: 17px;
    position: absolute;
    right: 150px;
}
.anchor:hover{
    background-color: grey;
    color: white;
}

.login{
    background-color: white;
    width: 330px;
    height: 280px;
    box-shadow: 0 8px 20px 0 rgba(22, 22, 22, 0.15);
    margin: auto;
    margin-top: 120px;
    position: relative;
    font-family: raleway, sans-serif;
    text-align: center;
    display: flex;
    padding: 30px 40px 30px 47px;
    border-radius: 8px;
}
.loginbox{
    display: flex;
    text-align: left;
}
.login-input{
    width: 217px;
    height: 20px;
    border-radius: 6px;
    padding: 5px;
}
input{
    margin-bottom: 18px;
}
label{
    margin-bottom: 2px;
}
.sub{
    cursor: pointer;
    width: 75px;
    border-radius: 5px;
}
.sub:hover{
    background-color: grey;
    color: white;
}
.submit{
    display:flex;
}